<h1>My Tasks</h1>
<% @tasks.each do |task| %>
<form action="">
  <%if task.completed == true%>
    <input type="checkbox" checked>
    <%= link_to task.title, task_path(task)%>
  <%else%>
    <input type="checkbox">
    <%= link_to task.title, task_path(task)%>
  <%end%>
  <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
<%end%>
</form>

<%= link_to 'Add a new task', new_path %>
