<h1><%=@task.title%></h1>
<p><%=@task.details%></p>
<form action="">
  <%if @task.completed == true%>

    <div class="tick">
      <input type="checkbox" checked>
      <p>This task is complete!</p>
    </div>
    </input>
  <%else%>
    <div class="tick">
      <input type="checkbox">
      <p>This task needed to be done YESTERDAY!!</p>
    </div>
    </input>
  <%end%>
</form>

<%= link_to 'Back to Tasks', tasks_path %>

<%= link_to 'Edit this task', edit_path %>

